@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam&display=swap");

body {
  font-family: "Anek Malayalam", sans-serif;
  background-color: unset;
  background-color: #191c1f !important;
}
